---
layout: default
image: '/images/01.jpg'
---

{% include section-hero.html %}

<div class="container">
  <hr>
</div>

{% include section-about.html %}

{% include section-news.html %}

{% include section-recommended.html %}

{% comment %}

<div class="container">
  <img src="http://cgi.www.umich.edu/counter?link=http://www.umich.edu/~tylee/index.html&font=arial&bgcolor=ffffff&text=555555&point=7&width=3">
  <a href="http://clustrmaps.com/counter/maps.php?url=http://www.umich.edu/~tylee" id="clustrMapsLink"><img src="http://clustrmaps.com/counter/index2.php?url=http://www.umich.edu/~tylee" border=0 width="8" align="top"></a>
</div>

{% include section-recommended.html %}

{% include section-featured-posts.html %}

{% include section-posts.html %}

{% include section-authors.html %}

{% include section-about.html %}

{% endcomment %}
