{% if site.data.settings.news.enable == true %}
{% if site.news and site.news.size > 0 %}
{% assign news_ordered = site.news | sort: 'date' | reverse %}
<!-- begin section-recommended -->
<section class="section section-recommended animate">
  <div class="container">

    <div class="section__inner">
      <div class="section__info">
        <div class="section__head">
          <h2 class="section__title">
            {% if news_ordered.size <= 4 %}
            {{ site.data.settings.news.news_title }}
            {% else %}
            <a href="{{ '/tags#' | append: news_tag | relative_url }}">{{ site.data.settings.news.news_title }}</a>
            {% endif %}
          </h2>
          {% if news_ordered.size > 4 %}
          <a class="section__link" href="{{ '/tags#' | append: news_tag | relative_url }}">See all</a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        {% for news in news_ordered limit: 4 %}
        <div class="col col-3 col-d-6 col-t-12">
          <div class="article">
            <div class="article__inner">

              <div class="article__head">
                {% if news.image and news.video_embed %}
                <div class="video-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <polygon points="40,30 70,50 40,70"></polygon>
                  </svg>
                </div>
                {% endif %}

                {% if news.image %}
                <a href="{{ news.url | relative_url }}" class="article__image" aria-hidden="true" tabindex="-1">
                  <img src="{{ news.image | relative_url }}" alt="{{ news.title }}">
                </a>
                {% endif %}
              </div>

              <div class="article__content">
                <h2 class="article__title">
                  <a href="{{ news.url | relative_url }}">{{ news.title }}</a>
                </h2>
                <div class="article__info">
                  {% assign author = site.authors | where: 'username', news.author | first %}
                  {% if author %}
                  <a href="{{ author.url | relative_url }}" class="article__author__image">
                    <img src="{{ author.image | relative_url }}" alt="{{ author.name }}">
                  </a>
                  <div class="article__info__bottom">
                    <span>Written by</span>
                    <a class="article__author__name" href="{{ author.url | relative_url }}">{{ author.name }}</a>
                  </div>
                  {% endif %}
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>
<!-- end section-news -->
{% endif %}

{% endif %}